<form action = "" method="get">
    <label for="f">Filtrer par</label>
    <select id="f" name="f" value="" />
        <option>Toute catégorie</option
    <button type="submit">Filtrer</button>
</form>