<form action = "" method="get">
    <label for="category">Filtrer par</label>
    <select id="category" name="category" value="{{category}}" />
        <option>Toute catégorie</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.titleJson.fr }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filtrer</button>
</form>