<search>
    <form action="" method="get">
      <label for="q">Chercher une page</label>
      <input type="search" id="q" name="q" value="{{q}}" />
      <button type="submit">Rechercher</button>
    </form>
</search>