{% extends 'base.html.twig' %}

{% block title %}Édition de page{% endblock %}

{% block body %}
    <h1>Édition de la page {{page.titleJson.fr}}</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_page_index') }}">Retour à la liste</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
