{% extends 'base.html.twig' %}

{% block title %}Modification de page{% endblock %}

{% block main %}
    <article>
        <h1>Modification de la page {{page.titleJson.fr}}</h1>

        {{ include('page/_form.html.twig', {'button_label': 'Valider'}) }}

        <a href="{{ path('app_page_index') }}">Retour</a>

    </article>
{% endblock %}
