{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block main %}
    <article>
        <h1>Ajouter une nouvelle page</h1>

        {{ include('page/_form.html.twig', {'button_label': 'Ajouter'})}}

        <a href="{{ path('app_page_index') }}">Retour</a>
    </article>
{% endblock %}
