{% extends 'base.html.twig' %}

{% block title %}New Inventory{% endblock %}

{% block main %}
    <h1>Ajouter un nouvel inventaire</h1>

    {{ include('inventory/_form.html.twig') }}

    <a href="{{ path('app_inventory_index') }}">Retour à la liste</a>
{% endblock %}
