{% extends 'base.html.twig' %}

{% block title %}Éditer Chapitre{% endblock %}

{% block main %}
    <article>
    <h1>Éditer Chapitre</h1>

        {{ include('chapter/_form.html.twig', {'button_label': 'Valider'}) }}
        
        <a class="aBlock" href="{{ path('app_page_new') }}">Ajouter page</a>
        <a href="{{ path('app_chapter_show', {'id' : chapter.id}) }}">Retour</a>

    </article>
{% endblock %}
