{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <article>
        <h1>Contact</h1>
        <form class="centerForm" action="{{path('app_contact_email')}}" method="POST">
            <div>
                <label for="email" >Email</label>
                <input type="email" name="email" id="email" value="">
            </div>
            <div>
                <label for="content">Contenu</label>
                <textarea rows=10 cols=60 name="content" id="content" value=""></textarea>
            </div>
            <div>
                <button type="submit" class="btn">Envoyer</button>
            </div>
        </form>
    </article>
{% endblock %}