{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block main %}

    <div>
        <details>
            <summary>Test?</summary>
            <p>agagaga</p>
        </details>
    </div>
        
{% endblock %}