{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block main %}
        <p> Développez vos compétences de programmation web à l'aide de leçons disponibles gratuitement.</p>
        <section class="newestPages">
            <h2>Nouveautés</h2>
                <div class="newPagesList">
                    {% for page in pages %}
                        <a href={{path("app_page_show", {id: page.id})}}>
                            <div>
                                <p>{{page.titleJson.fr}} </p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
        </section>
{% endblock %}
