{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <p> Développez vos compétences de programmation web à l'aide de leçons disponibles gratuitement.</p>
    </main>
{% endblock %}
