{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block main %}
        <p> Développez vos compétences de programmation web à l'aide de leçons disponibles gratuitement.</p>
        <section>
            <h2>Nouveautés</h2>
                <ul>
                    {% for page in pages %}
                        <li>
                            {{page.titleJson.fr}}
                        </li>
                    {% endfor %}
                </ul>
        </section>
{% endblock %}
