includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - src/Security
    ignoreErrors:
        - "#^Parameter.*(User).*(UserInterface).*#"
        - "#^Call to an undefined .*(UserInterface).*#"
        - "#Property .* type mapping mismatch: property can contain .*\\|null but database expects .*.#"
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
