{% extends 'base.html.twig' %}

{% block title %}Édition de section{% endblock %}

{% block main %}
    <article>
        <h1>Édition de la section {{section.titleJson.fr}}</h1>

        {{ include('section/_form.html.twig', {'button_label': 'Valider'}) }}

        <a class="aBlock" href="{{ path('app_chapter_new')}}">Ajouter chapitre</a>
        <a href="{{ path('app_section_show', {'id': section.id}) }}">Retour</a>
    </article>
{% endblock %}
