{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block main %}
    <h1>Leçons</h1>

    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_section_new') }}">Ajouter une nouvelle section</a>
    {% endif %}
    <ul>
        {% for section in sections %}
            <li><a href="{{ path('app_section_show', {'id': section.id})}}">{{section.titleJson.fr}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
