{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block main %}
    <article>

        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <h1>Leçons <a href="{{ path('app_section_new') }}">+</a></h1>
        {% else %}
            <h1>Leçons</h1>
        {% endif %}
        <ul>
            {% for section in sections %}
                <li><a href="{{ path('app_section_show', {'id': section.id})}}">{{section.titleJson.fr}}</a></li>
        {% endfor %}
        </ul>
{% endblock %}
