{% extends 'base.html.twig' %}

{% block title %}New Section{% endblock %}

{% block main %}
    <article>
        <h1>Ajouter une section</h1>

        {{ include('section/_form.html.twig') }}

        <a href="{{ path('app_section_index') }}">Retour</a>
    </article>
{% endblock %}
