nav {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

nav.a {
    grid-column: 10;
}

.email {
    grid-column: 9;
}

.home {
    grid-column: 4;
}

.pages {
    grid-column: 5;
}