body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

main {
    flex-grow: 1;
    margin-top: 1rem;
}

.questionBlock {
    display: block;
    margin-top: 1rem;
}

details {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
}

.centerForm {
    text-align: center;

    div {
        margin-bottom: 1rem;
    }

    label:not([for="registration_form_agreeTerms"], [for="_remember_me"]) {
        display: block;
        font-size: smaller;
    }
}

.navbar {
    font-family: "Germania One", system-ui;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid gray;
    background: url(../images/wood.jpg) repeat;
    background-color: #BA8C63;
    background-size: auto 300%;
    background-position: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.email {
    margin: 0;
}

footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid gray;
    background: url(../images/water.webp) repeat;
    background-color: black;
    color: white;
    text-shadow: 0 0 5px black;
}

footer p {
    margin: 0;
    display: inline-block;
}

footer ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 1ch;
    list-style: none;
}

footer a {
    color: inherit;
}

.newestPages h2 {
    text-align: center;
}

.newPagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.newPagesList a {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    color: gray;
    flex: 1;
}

article {
    margin-left: auto;
    margin-right: auto;
    max-width: 65ch;

    h1 {
        text-align: center;
    }
}

.adminPanel {
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    justify-content: space-between;

    a {
       font-size: larger;
    }

    .btn {
        border-style: none;
        background-color: white;
        color: blue;
        text-decoration: underline;
        font-size: larger;
    }
}

h1 a {
    text-decoration: none;
}