<nav class="footer">
    <h1 class="footerheader">
        Suivez-nous sur :
    </h1>
    <ul> 
        <li class="helloasso">
            <a href=https://www.helloasso.com/associations/code-collectif>HelloAsso</a>
        </li>
        <li class="linkedin">
            <a href=https://fr.linkedin.com/company/code-collectif>Linkedin</a>
        </li>
    </ul>
</nav>